@media only screen and (max-width: 739px){
    .main-container {
        flex-direction: column;
    }

    .header-logo {
        float: none;
    }

    .header-menu ul {
        float: none;
        margin-top: 10px;
    }

    .side-nav {
        margin: 20px 0 0 20px;
        background: none;
        width: auto;
    }

    .side-nav li {
        display: inline-block;        
    }

    .side-nav li a::before {
        display: block;
        margin: 0px;
        top: 0px;
    }

    .side-nav li a {
        width: 44px;
        height: 44px;
        overflow: hidden;
        padding: 10px;
        border: none;
        color: #252525;
        background: #252525;
        border-radius: 4px;
    }

    .produtos {
        width: 100%;
    }

    .produtos h1 {
        float: none;
    }

    .adicionar-produtos {
        float: none;
        display: inline-block;
        margin: 10px 0;
    }

    .produtos-item img {
        float: none;
    }

    .produtos-item ul {
        width: 100%;
        float: none;
    }
}

@media only screen and (min-width: 740px) and (max-width: 979px) {
    .side-nav {
        width: 200px;
    }

    .produtos {
        width: calc(100% - 200px);
    }
}